
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body,
html {
  box-sizing: border-box;
  user-select: none;
  scroll-behavior: smooth;
  // *::-webkit-scrollbar {
  //   width: 6px;
  //   height: 6px;
  // }
  // *::-webkit-scrollbar-track {
  //   background: #fff;
  // }
  // *::-webkit-scrollbar-thumb {
  //   background-color: rgba(144, 147, 153, 0.3);
  //   border-radius: 4px;
  //   &:hover {
  //     background-color: rgba(144, 147, 153, 0.5);
  //   }
  //   &:active {
  //     background: #bbb;
  //   }
  // }
}

img {
  border: none;
}
ul,
li {
  list-style: none;
}
